ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
li {
    padding: 10px;
    width: 270px;
    max-width: 280px;
    max-height: 400px;
    list-style: none;
    margin-bottom: 12vh;
}
.card {
    padding: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.card img {
    height: 310px;
    width: 99%;
}
.card article {
    padding: 5px;
    text-align: center;
}
.card p{
    text-align: center;
    display: none;
}
.card h3,h2 {
    text-align: center;
    padding: 5px;
}